:host {
    ion-content {
        --background: #f4f8f9 !important;
        position: relative;
        padding-bottom: 150px;
        //  height: 80vh;
        overflow-y: scroll;
    }
    .cat_section {
        border-radius: 10px 10px 0px 0px;
        padding-bottom: 5px;
        height: 68vh;
        overflow-y: scroll;
    }
    @media screen and (device-width: 360px) and (device-height: 640px) {
        .cat_section {
            height: 62.5vh !important;
        }
    }
    @media screen and (device-width: 411px) and (device-height: 731px) {
        .cat_section {
            height: 67vh !important;
        }
    }
    @media screen and (device-width: 411px) and (device-height: 823px) {
        .cat_section {
            height: 71vh !important;
        }
    }
    @media screen and (device-width: 320px) and (device-height: 568px) {
        .cat_section {
            height: 58vh !important;
        }
    }
    @media screen and (device-width: 375px) and (device-height: 667px) {
        .cat_section {
            height: 61vh;
        }
    }
    @media screen and (device-width: 414px) and (device-height: 736px) {
        .cat_section {
            height: 66vh;
        }
    }
    @media screen and (device-width: 414px) and (device-height: 896px) {
        .cat_section {
            height: 67vh;
        }
    }
    @media screen and (device-width: 375px) and (device-height: 812px) {
        .cat_section {
            height: 69vh;
        }
    }
    @media screen and (device-width: 768px) and (device-height: 1024px) {
        .cat_section {
            height: 67vh;
        }
    }
    @media screen and (device-width: 1024px) and (device-height: 1366px) {
        .cat_section {
            height: 66vh;
        }
    }
    .img {
        width: 30px;
        height: auto;
    }
    .menu-img {
        width: 24px !important;
        height: auto;
    }
    .list-item {
        width: 100%;
        display: block;
        border-bottom: 1px solid #d4d4d4;
        margin-top: 12px;
    }
    .lbl-style {
        padding: 5px;
        margin: 5px;
        color: #242424;
    }
    .img-icon {
        width: 7px;
        margin-top: 3px;
    }
    .list-block {
        margin: 0px !important;
    }
    .list-ion-content {
        --background: #010B17;
        padding: 10px;
        --ion-color-light: #00000000;
        --ion-color-light-shade: #00000000;
        --ion-item-background: var(--ion-color-light);
        --ion-item-background-activated: var(--ion-color-light-shade);
    }
    .user-info-block {
        margin: 0px !important;
        padding: 35px 0px 10px 0px!important;
    }
    .user-img {
        width: 70px !important;
        height: 70px !important;
        overflow: hidden;
        border-radius: 50% !important;
        border: 2px solid #939393;
        max-width: 70px !important;
        background-color: transparent;
        position: relative;
    }
    .user-info {
        margin: 0px !important;
        padding: 0px !important;
        padding-top: 10px !important;
        padding-left: 12px !important;
    }
    .user_img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: block;
    }
    .menu-header-title {
        color: #1a1a1a;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 4px;
    }
    .menu-header {
        font-size: 16px;
    }
    .cat_box .cat_pro_box {
        padding: 12px 5px !important;
        border: 1px solid #989898;
        border-radius: 10px !important;
        background: #fff;
        width: 96%;
        height: 100%;
        display: block;
        margin: 2% !important;
    }
    // .cat_box:nth-child(4),
    // .cat_box:nth-child(8),
    // .cat_box:nth-child(12),
    // .cat_box:nth-child(16) {
    //     border-right: none;
    // }
    .category-title {
        font-family: "MyriadPro-Regular";
        color: #000 !important;
        font-size: 14px;
        display: block;
        margin-top: 10px;
        text-align: center;
    }
    .cat_img {
        width: 30px !important;
        height: 35px !important;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .swiper-pagination-bullet {
        background-color: #b2b2b2 !important;
        opacity: 1 !important;
        width: 10px !important;
        height: 10px !important;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #164599 !important;
    }
    .swiper-pagination.swiper-pagination-bullets {
        bottom: 20px;
        left: 0;
        width: 100%;
    }
    .slider_box {
        background-color: #fff !important;
        padding-bottom: 40px; //padding-bottom: 60px;
    }
    .swiper-slide img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 60px !important;
    }
    .brands-block {
        background-color: #fff;
        margin-top: 5px; //   margin-top: 20px;
    }
    .title_box {
        padding: 14px 0px;
    }
    .brands-title {
        font-family: 'MyriadPro-Regular';
        font-size: 19px;
        color: #000;
        margin-left: 20px;
    }
    .brans-view {
        height: 155px !important;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 11;
        background: white !important;
        margin-top: 10px !important;
    }
    .brans-row {
        overflow-x: scroll!important;
        overflow-y: hidden;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        align-items: center;
    }
    .brands-img {
        width: 125px !important;
    }
}