<ion-header>
    <ion-toolbar>
        <ion-grid no-padding>
            <ion-row class="header-box">
                <ion-col size="1" class="menu_bar" (click)="backPage()">
                    <ion-img src="../../../assets/images/back.png"></ion-img>
                </ion-col>
                <ion-col class="page_title" size="8">{{title}}</ion-col>

                <ion-col size="1" class="header-icon" (click)="clickAll('All')">
                    <ion-img src="../../../assets/images/box.png"></ion-img>
                </ion-col>
                <!-- <ion-col size="1" class="header-icon">
                    <ion-img src="../../../assets/images/home.png"></ion-img>
                </ion-col>
                <ion-col size="1" class="header-icon">
                    <ion-img src="../../../assets/images/Cart.png"></ion-img> -->
                <!-- </ion-col> -->
                <ion-col size="1" class="header-icon" (click)="brandList()">
                    <ion-img src="../../../assets/images/home.png"></ion-img>
                </ion-col>
                <ion-col size="1" class="header-icon" (click)="myList()">
                    <ion-img src="../../../assets/images/Cart.png"></ion-img>
                    <ion-badge *ngIf="this.commonService.getQty()>0" color="danger">{{this.commonService.getQty()}}</ion-badge>
                </ion-col>
            </ion-row>
            <ion-row class="serach_block">
                <ion-col class="search_box">
                    <ion-input type="text" [(ngModel)]="inputValue" (ionInput)="setFilteredItems($event)" class="input_serch">
                        <ion-icon class="serch_icon" name="search"></ion-icon>
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="cat_section" *ngIf="!isSub && !isCatSub ">
        <ion-row class="cat_block">
            <ion-col class="cat_box" *ngFor="let cat of Category; let i = index" size="4" (click)="categoryClick(cat)">
                <div class="cat_pro_box">
                    <ion-img class="cat_img" [src]="cat.CategoryLogo"></ion-img>
                    <ion-label class="category-title"> {{cat.CategoryName}}</ion-label>
                </div>
            </ion-col>
            <ion-col class="cat_box" size="4" (click)="clickAll('All')">
                <div class="cat_pro_box">
                    <ion-img class="cat_img" src="../../../assets/images/Category.png"></ion-img>
                    <ion-label class="category-title"> All</ion-label>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="isSub && !isCatSub" class="cat_section">
        <ion-row class="cat_block">
            <ion-col class="cat_box" *ngFor="let cat of Subcategory; let i = index" size="4" (click)="categorySubClick(cat)">
                <div class="cat_pro_box">
                    <ion-img class="cat_img" [src]="cat.CategoryLogo"></ion-img>
                    <ion-label class="category-title"> {{cat.CategoryName}}</ion-label>
                </div>
            </ion-col>
            <ion-col class="cat_box" size="4" (click)="back()">
                <div class="cat_pro_box">
                    <ion-img class="cat_img" src="../../../assets/images/backb.png"></ion-img>
                    <ion-label class="category-title"> Back</ion-label>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="isCatSub" class="cat_section">
        <ion-row class="cat_block">
            <ion-col class="cat_box" *ngFor="let cat of SubSubcategory; let i = index" size="4" (click)="categorySubClick(cat)">
                <div class="cat_pro_box">
                    <ion-img class="cat_img" [src]="cat.CategoryLogo"></ion-img>
                    <ion-label class="category-title"> {{cat.CategoryName}}</ion-label>
                </div>
            </ion-col>
            <ion-col class="cat_box" size="4" (click)="backSub()">
                <div class="cat_pro_box">
                    <ion-img class="cat_img" src="../../../assets/images/backb.png"></ion-img>
                    <ion-label class="category-title"> Back</ion-label>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="brans-view">
        <ion-row class="brans-row">
            <ion-col>
                <ion-label class="brands-title"> All Brands Store</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="brans-row">
            <ion-col class="brands-cols" *ngFor="let st of Store; let i = index">
                <ion-img class="brands-img" (click)="storeClick(st)" [src]="st.StoreLogo"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>