<ion-content (click)="dismissModal()" scrollX="false" scrollY="false">

    <ion-button class="cls-model" (click)="cancel()">x</ion-button>
    <ion-grid class="store-list-container" no-padding>
        <ion-row no-padding>
            <ion-col no-padding>
                <ion-list no-padding class="padd_bottom">
                    <ion-item class="list-item" *ngFor="let st of storeList  let i = index" no-padding>
                        <ion-img [src]="st.StoreLogo"></ion-img>
                        <ion-label>{{st.StoreName}} </ion-label>
                        <ion-checkbox slot="end" color="primary" value="{{st.IsSelected}}" [checked]="st.IsSelected=='1'?true:false" (ionChange)="changeChacked($event,i)"></ion-checkbox>
                    </ion-item>
                </ion-list>

            </ion-col>
        </ion-row>
        <div class="fix_btn">
            <!-- <ion-row no-padding>
                <ion-col size="6" no-padding>
                </ion-col>
                <ion-col size="6" no-padding>
                    <ion-button class="btn btn-blue" (click)="cancel()">Cancel</ion-button>
                </ion-col>
            </ion-row> -->
            <ion-button class="btn btn-blue" (click)="close()">{{btnName}}</ion-button>

        </div>
    </ion-grid>

</ion-content>