<ion-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" style="padding: 0 6px;">
        <ion-grid class="margin-15 register-bock">
            <ion-row>
                <ion-col>
                    <ion-label class="title">Welcome</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="mb-20">
                    <ion-label class="sub-title">Sign Up</ion-label>
                </ion-col>
            </ion-row>
            <!-- <ion-row class="profile-img-block">
              <ion-col class="profile-img-box">
                  <div class="profile_image">
                      <ion-img class="pro-img" id="profile_image" *ngIf="!this.image1" src="../../../assets/images/avtar.png"></ion-img>
                      <ion-img class="pro-img" id="profile_image" *ngIf="this.image1" src="data:image/png;base64,{{this.image1}}"></ion-img>

                  </div>
                  <input type="hidden" formControlName="userimage">
                  <label for="fileInput" icon-only ion-button class="icons-btn">
                          <ion-icon name="camera" (click)="onTakePictures1()" class="icon"></ion-icon>
                      </label>
              </ion-col>
          </ion-row> -->
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">First Name</ion-label>
                        <ion-input type="text" formControlName="fname"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Last Name</ion-label>
                        <ion-input type="text" formControlName="lname"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Email Id</ion-label>
                        <ion-input type="text" formControlName="emailid"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Mobile No.(Optional)</ion-label>
                        <ion-input type="tel" formControlName="mphone"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" formControlName="pwd"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Confirm Password</ion-label>
                        <ion-input type="password" formControlName="cpassword"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="container" style="margin-top: 20px;">
                <ion-col>
                    <ion-button class="btn btn-white" type="submit" [disabled]="!registerForm?.valid">
                        REGISTER
                    </ion-button>
                </ion-col>
            </ion-row>


            <ion-row class="text-center" style="margin-top: 20px;" no-padding>
                <ion-col no-padding>
                    <ion-label class="link-content"> Already Have an Account?</ion-label>
                    <ion-label style="color: #fff; font-family: 'Montserrat-Medium'; font-size: 15px; text-decoration: underline; margin-left: 5px;" (click)="goLogin()"> LOGIN </ion-label>
                </ion-col>
            </ion-row>
            <!-- <ion-row class="text-center">
                <ion-col>
                    <ion-label style="color: #fff; display: block; margin: 15px 0px; font-family: 'Montserrat-Medium'; font-size: 15px; text-decoration: underline; margin-left: 5px;" (click)="goToDashboard()"> SKIP</ion-label>
                </ion-col>
            </ion-row> -->
        </ion-grid>
    </form>
</ion-content>