:host {
    ion-label {
        color: white;
    }
    .margin-15 {
        margin: 15px !important
    }
    .title {
        font-size: 18px;
        font-family: 'Montserrat-Bold';
    }
    .register-bock {
        margin-top: 60px !important;
    }
}