:host {
    ion-content {
        --background: #f5f8f9 !important;
    }
    ion-img {
        width: 30px !important;
    }
    .menu_bar ion-img {
        width: 100% !important;
    }
    .compare-img-icon {
        width: 30px !important
    }
    ion-row {
        justify-content: center;
    }
    ion-list {
        background: #00000000 !important;
        margin: 0px 10px !important;
        padding: 0px !important;
    }
    .store-title {
        font-family: 'Montserrat-Regular';
        color: #000;
        font-size: 15px;
    }
    .store-address {
        font-family: 'Montserrat-Light';
        color: #000;
        font-size: 14px;
        margin-top: 5px;
        display: block;
    }
    .store-time-header {
        font-family: "Montserrat-Regular";
        color: #000;
        font-size: 15px;
        margin-top: 4px;
        display: block;
    }
    .icons {
        position: relative;
    }
    .icons ion-img {
        position: absolute;
        top: -15px;
        right: 0px;
    }
}