<ion-header>
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
            <ion-back-button> </ion-back-button>
        </ion-buttons> -->
        <ion-grid no-padding>
            <ion-row>
                <ion-col size="1" class="menu_bar" (click)="backPage()">
                    <ion-img src="../../../assets/images/back.png"></ion-img>
                </ion-col>
                <ion-col class="page_title" size="11">{{store}}</ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

        <ion-card-content *ngFor="let store of storedetail" no-padding class="content-block">
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col size="12" no-padding>
                        <ion-label class="store-title">{{store.StoreDetailName}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col size="10.5" no-padding>
                        <ion-label class="store-address">{{store.ContactNo}}</ion-label>
                    </ion-col>
                    <ion-col size="1.5" no-padding class="icons">
                        <ion-img src="../../../assets/images/Call.png" (click)="callTo(store.ContactNo)"> </ion-img>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col size="10.5" no-padding>
                        <ion-label class="store-address">{{store.StoreAddress}}</ion-label>
                    </ion-col>
                    <ion-col size="1.5" no-padding>
                        <ion-img style="float: right !important;" src="../../../assets/images/Direction.png" (click)="gotToAddress(store)"> </ion-img>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col size="9" no-padding>
                        <ion-label class="store-time-header">{{store.StoreDays}}:</ion-label>
                    </ion-col>
                    <!-- <ion-col size="4" no-padding>
                        <ion-label class="store-address">Sunday Close </ion-label>
                    </ion-col>
                    <ion-col size="3" no-padding>
                        <ion-label class="store-address">Mon-Sat</ion-label>
                    </ion-col> -->
                    <ion-col size="3" no-padding>
                        <ion-label class="store-address">{{store.Storetime}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-list>

    <ion-card-content no-padding class="empty-list-box" *ngIf="storedetail?.length == 0">
        <ion-label class="empty-list">
            Store Details Are Not Available!
        </ion-label>
    </ion-card-content>

</ion-content>