/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
ion-toolbar {
    --background: var(--ion-color-primary) !important;
    border: none;
    color: #fff !important;
    box-shadow: 0 0 5px #555;
    // @media (min-width: 768px) {
    //     height: 80px;
    //     align-items: center;
    //     justify-content: center;
    //     display: flex;
    // }
}

.show-modal {
    background: rgba(0, 0, 0, 0.45);
}

.modal-wrapper {
    --background: transparent;
    box-shadow: 0 16px 20px rgba(0, 0, 0, .4);
    background-color: transparent;
    height: 35%;
    width: 80%;
    min-height: 50px;
    border-radius: 5px;
    @media (min-width: 768px) {
        height: 45%;
        width: 400px;
    }
}

// ion-app {
//     margin-top: env(safe-area-inset-top);
//     margin-bottom: env(safe-area-inset-bottom)
// }
body {
    --background-color: var(--ion-color-primary);
}

ion-header {
    --background: var(--ion-color-primary) !important;
    background: var(--ion-color-primary);
}

ion-list-header {
    --background: #f0f0f0;
    text-transform: capitalize;
    color: #202020; //var(--ion-color-primary);
    font-size: 15px;
    text-align: center;
    // font-family: 'Roboto-Bold';
}

ion-content {
    // --background: url('assets/images/background.png');
    --background: radial-gradient(circle closest-side at 50% 50%, #4D6eE3 0%, #5e86f9 100%);
    //--background: var(--ion-color-primary);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-img-logo {
    margin: 30px !important
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.form-control {
    --ion-background-color: transparent;
    border-bottom: 1px solid #fff;
    font-size: 14px !important;
    font-family: "Montserrat-Light" !important;
    color: #fff !important;
    display: block !important;
}

.empty-list-box {
    background: #fff !important;
    width: 100% !important;
    height: 100% !important;
    ;
    position: relative !important;
}

.empty-list {
    color: var(--ion-color-primary) !important;
    font-size: 25px !important;
    text-align: center !important;
    width: 100% !important;
    position: absolute !important;
    top: 43% !important;
    left: auto;
    transform: translate(0%, -50%) !important;
}

.btn.btn-white {
    --background: white !important;
    width: 100%;
    color: var(--ion-color-primary);
    font-size: 14px;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Montserrat-Bold';
}

.btn.btn-blue {
    --background: var(--ion-color-primary) !important;
    width: 100%;
    color: white !important;
    font-size: 16px;
    max-width: 100% !important;
    // font-family: 'Roboto-Bold';
    border-radius: 20px;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.content-block {
    border-radius: 0px;
    background: #fff;
    height: auto;
    margin-top: 10px;
    padding: 10px 20px !important;
    border: 1px solid #ccc;
}

.content-block:first-child {
    border-radius: 6px 6px 0px 0px;
}

.title {
    font-family: 'Montserrat-Medium';
    font-size: 18px;
}

.content {
    font-size: 18px;
    font-family: 'Montserrat-Light';
}

.sub-title {
    font-size: 18px;
    font-family: 'Montserrat-Light';
}

.link-content {
    color: #fff;
    font-family: 'Montserrat-Medium';
    font-size: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.serch_icon {
    color: #a7a7a7;
    font-size: 23px;
    padding-left: 9px;
}


/* DivTable.com */

.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
}

.divTableCell,
.divTableHead {
    display: table-cell;
    padding: 3px 10px;
    vertical-align: middle;
    border-left: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
    min-width: 80px !important;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
}

.sub_cols {
    border: none !important;
    padding: 0px !important;
    min-width: 30px !important;
}

.divTableCell.sub_cols.padding-box {
    padding: 0px 10px !important;
}

.divTableCell.no_padding {
    padding: 0px !important;
    border-right: transparent !important;
}

.divTableRow.total .divTableCell {
    background-color: #eee;
    padding: 8px 10px;
}

.divTableRow.total .divTableCell .table-content {
    font-weight: bold;
}

.table_quantity {
    text-align: center!important;
    background-color: #f0f0f0!important;
    padding: 0!important;
    border: none!important;
    width: 55px!important;
    border-left: 1px solid #bcbcbc!important;
    min-width: 55px !important;
    max-width: 55px !important;
}

.input_serch {
    background-color: #fff !important;
    border-radius: 4px !important;
    --padding-start: 5px;
    color: #a7a7a7 !important;
    font-family: "MyriadPro-Regular";
    font-size: 19px;
    --padding-top: 7px;
    --padding-end: 10px;
    --padding-bottom: 5px;
}

.menu_bar ion-img {
    width: 100% !important;
}

.header-box {
    padding: 0px 10px !important;
}

.menu_bar {
    margin-top: 7px;
}

.bold {
    font-weight: bold;
}

.page_title {
    font-family: 'MyriadPro-Regular';
    font-size: 14pt;
    margin-top: 5px;
    color: #fff;
}

.header-icon ion-img {
    padding: 0px 4px;
    margin-top: 4px;
}

.header-icon ion-img {
    width: 30px !important;
}

.table_header {
    text-align: center !important;
    background-color: #f0f0f0 !important;
}

.table_content {
    text-align: center;
    padding: 0px;
    background-color: #fff !important;
}

.table-content {
    display: block;
    width: 100%;
    color: #000 !important;
    font-family: "Montserrat-Regular";
    font-size: 14px;
    text-align: center;
}

.table-sub-content {
    font-family: 'Montserrat-Light';
    font-size: 13px;
    color: #000 !important;
    margin-top: 5px;
}

.table-content.date {
    font-size: 10px;
}

.table_content {
    background-color: #fff !important;
}

.table_header .table-content {
    font-size: 15px;
    text-align: center;
}

.ion-button {
    --color: #000;
    --background: transparent;
    --box-shadow: none !important;
    margin: 0px;
    --padding: 0px !important;
    --padding-start: 5px;
    --padding-end: 5px;
    display: block;
    width: 100%;
}

.quantity_value {
    width: 100%;
    background-color: #fff !important;
    display: block !important;
    padding: 6px!important;
    text-align: center !important;
    border: 1px solid #bcbcbc;
    margin: 0px !important;
    border-right: none !important;
    border-left: none !important;
}

.table_row {
    align-items: center;
    height: 100% !important;
}

.text-left {
    text-align: left !important;
    display: block;
}

.table_cols_block {
    display: table;
    width: 100%;
    height: 55px;
    padding: 5px;
}

.table_cols_box {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.green {
    color: #27ae60 !important;
}

.red {
    color: #e67e22 !important;
}

.logo {
    width: 80%;
    margin-top: 60px !important;
    margin: 0 auto;
    display: block;
}

ion-badge {
    font-family: 'MyriadPro-Regular';
    font-size: 12px !important;
    right: -7px;
    position: absolute;
    top: 4px;
    color: var(--ion-color-primary) !important;
    background: white !important;
}

.time {
    float: right;
    font-size: 13px !important;
    color: #a8abb1 !important;
    font-family: "MyriadPro-Regular" !important;
}

.cmt-title {
    color: #505050 !important;
    text-transform: capitalize;
    font-size: 14px !important;
    font-family: "Montserrat-Bold" !important;
}

.cmt-msg {
    font-size: 14px !important;
    color: #a8abb1 !important;
    font-family: "MyriadPro-Regular" !important;
    margin-top: 10px !important;
}

.cmt-bottom-line {
    padding: 10px 0px !important;
    border-bottom: 1px solid #95969b !important;
}

.message-input-box {
    padding: 0px 5px !important;
    border: 1px solid #c9c9c9;
    background-color: #fff;
    border-radius: 10px;
    width: 94% !important;
    position: relative;
    margin: 15px 3% !important;
}

.message-input-box ion-img.input-icon {
    position: absolute;
    top: 7px;
    left: 8px;
    width: 25px !important;
    display: block;
}

.btn-send {
    --background: transparent !important;
    width: 40px;
    --border: none;
    --box-shadow: none !important;
    --border-radius: 0;
    --background-focused: transparent !important;
    --background-hover: transparent !important;
    float: right;
    position: relative;
}

.btn-send::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: -15px;
    width: 1px;
    height: 35px;
    background-color: #8d9aad;
}