<ion-content class="page-bg">
    <ion-grid class="top-img-logo">
        <ion-row>
            <ion-col class="text-left">
                <ion-img class="logo" src="../../../assets/images/logo.png"></ion-img>
            </ion-col>
        </ion-row>

    </ion-grid>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="form">

        <ion-grid class="margin-15">
            <ion-row class="login-content">
                <ion-col class="text-left">
                    <ion-label class="title">Forgot your password?.</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="text-left">
                    <ion-label class="content">Enter your registered email id.</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Email Id</ion-label>
                        <ion-input type="text" formControlName="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="container mb-10">
                <ion-col>
                    <ion-button class="btn btn-white" type="submit" [disabled]="!loginForm?.valid">
                        Forgot Password
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row class="text-center" style="margin-top: 20px;">
                <ion-col>
                    <ion-label style="color: #fff; font-family: 'Montserrat-Medium'; font-size: 15px; text-decoration: underline; margin-left: 5px;" (click)="goToLogin()">Go To LOGIN</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>