<ion-header>
    <ion-toolbar>
        <ion-grid no-padding>
            <ion-row class="header-box">
                <ion-col size="1" class="menu_bar" (click)="backPage()">
                    <ion-img src="../../../assets/images/back.png"></ion-img>
                </ion-col>
                <ion-col class="page_title" size="11">Change Password</ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content class="page-bg">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="form">

        <ion-grid class="margin-15">

            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Old Password</ion-label>
                        <ion-input type="text" formControlName="OldPassword"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">New Password</ion-label>
                        <ion-input type="text" formControlName="NewPassword"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Confirm Password</ion-label>
                        <ion-input type="text" formControlName="confirmpassword"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="container mb-10">
                <ion-col>
                    <ion-button class="btn btn-blue" type="submit" [disabled]="!loginForm?.valid">
                        Change Password
                    </ion-button>
                </ion-col>
            </ion-row>
            <!-- <ion-row class="text-center">
                <ion-col>
                    <ion-label style="color: #fff; display: block; margin: 15px 0px; font-family: 'Montserrat-Medium'; font-size: 15px; text-decoration: underline; margin-left: 5px;" (click)="goToDashboard()"> SKIP</ion-label>
                </ion-col>
            </ion-row> -->
        </ion-grid>
    </form>
</ion-content>