:host {
    // ion-label {
    //     color: white;
    // }
    ion-content {
        --background: white !important;
    }
    .margin-15 {
        margin: 15px !important
    }
    .title {
        font-size: 18px;
        font-family: 'Montserrat-Bold';
    }
    .form-control {
        // border-bottom: 1px solid #fff;
        color: #000 !important;
    }
}