:host {
    ion-content {
        --background: #fff !important;
    }
    ion-img {
        width: 30px !important;
    }
    .menu_bar ion-img {
        width: 100% !important;
    }
    ion-row {
        justify-content: center;
    }
    ion-list {
        background: #00000000 !important;
        margin: 0px !important;
        padding: 0px !important;
    }
    .store-title {
        font-family: 'Montserrat-Regular';
        color: #000;
        font-size: 15px;
    }
    .store-address {
        font-family: 'Montserrat-Light';
        color: #000;
        font-size: 14px;
        margin-top: 5px;
        display: block;
    }
    .store-time-header {
        font-family: "Montserrat-Regular";
        color: #000;
        font-size: 15px;
        margin-top: 4px;
        display: block;
    }
    .icons {
        position: relative;
    }
    .icons ion-img {
        position: absolute;
        top: -15px;
        right: 0px;
    }
    .prod-title {
        font-family: "MyriadPro-Bold";
        color: #000 !important;
        font-size: 17px;
        display: block;
        text-align: center;
        margin: 0px;
        padding: 0px;
        font-weight: bold;
    }
    .prod-sub-title {
        font-family: "MyriadPro-Regular";
        color: #262626 !important;
        font-size: 16px;
        display: block;
        text-align: center;
        margin: 10px 0px;
    }
    .table_quantity {
        font-size: 15px;
        font-family: 'Montserrat-Bold';
    }
    ion-tabs {
        display: contents !important;
    }
    .lowest_price_box {
        border: 1px solid #bcbcbc;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 8px;
        padding: 10px;
    }
    .lowest_price_box ion-label {
        font-family: 'Montserrat-Regular';
        font-size: 14px;
        color: #000;
    }
    .compare-img-icon {
        width: auto !important;
        display: block;
        margin: 0 auto;
        margin-top: 6px;
        height: 28px !important
    }
    .compare-img {
        width: 25px !important;
        margin: 0 auto;
        display: block;
        margin-top: 5px;
    }
    .prod-store-list {
        justify-content: left !important;
    }
    .prod-des {
        height: 120px !important;
    }
    .title {
        width: 100%;
        display: block;
        color: #000;
        font-family: 'Montserrat-Regular';
        font-size: 16px;
        margin: 0px !important;
        padding: 0px !important;
    }
    .title.sub_content {
        font-size: 18px;
        width: 100%;
        display: block;
    }
    .title.sub_content span {
        font-size: 14px;
        font-family: 'Montserrat-Light';
    }
    .tabing-content {
        width: 100%;
        text-align: left !important;
        padding: 0px 15px;
        height: 100%;
        overflow-y: scroll;
        display: block;
        margin-top: 20px;
    }
    .nav {
        background-color: #dcdcdc !important;
        overflow: hidden;
        width: 100%;
        display: block;
        padding: 0px;
    }
    .nav-item {
        width: 50%;
        float: left;
        font-family: 'Montserrat-Regular';
        text-transform: capitalize !important;
        border: none !important;
        background-color: #dcdcdc !important;
        padding: 10px 10px 10px 0px !important;
        color: #646464 !important;
        font-size: 15px !important;
        margin: 0px !important;
    }
    .nav-item.segment-button-checked {
        border-bottom: 2px solid #16459a !important;
        color: #000 !important;
    }
    .table_quantity .ion-button {
        background: #ebebeb;
        color: #000 !important;
        font-size: 35px !important;
        padding: 0px !important;
        margin: 0px !important;
        line-height: 0px !important;
        height: 38px !important;
        border: none !important;
    }
    .quantity_value {
        height: 100% !important;
        padding: 0px 10px!important;
        text-align: center;
        line-height: 38px;
        border: none !important;
    }
    .table_quantity-button-box {
        border: 1px solid #aaa;
        margin-bottom: 20px;
    }
    .tabing-img {
        width: 100% !important;
    }
    .swiper-scrollbar {
        opacity: 0 !important;
    }
    .slider_box {
        position: relative;
        width: 100%;
        margin-top: 20px;
    }
    .btnPrev {
        position: absolute;
        top: 45%;
        transform: translate(0px, -50%);
        left: 0px;
    }
    .btnNext {
        position: absolute;
        right: 0px;
        top: 45%;
        transform: translate(0px, -50%);
    }
    ion-content.content-block {
        position: relative;
        padding-bottom: 60px !important;
    }
    .button-fix-box {
        position: fixed;
        left: 0px;
        width: 100%;
        bottom: -1px;
        z-index: 1111;
    }
    .button-fix-box .btn.btn-blue {
        border-radius: 20px 20px 0px 0px !important;
        width: 100% !important;
        padding: 0px !important;
        margin: 0px !important;
        height: 60px;
        color: #fff !important;
        font-size: 18px !important;
        font-weight: bold;
        opacity: 1;
    }
}