<ion-content class="content-block">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label> {{this.prod.ProductDesc}} {{this.prod.ProductDescUrl}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-list-header>
            <ion-label>Comments</ion-label>
        </ion-list-header>
        <div class="comment-list-box">
            <ion-item lines="none" *ngFor="let cmt of commentList">
                <ion-grid class="cmt-bottom-line">
                    <ion-row>
                        <ion-col size="9" no-padding>
                            <ion-label class="cmt-title">{{cmt.UserName}}</ion-label>
                        </ion-col>
                        <ion-col size="3" no-padding>
                            <ion-label class="time">{{ cmt.CommentDate | date:'shortTime' }}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="cmt-msg" no-padding>
                            <ion-label>{{cmt.Comment}}</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-grid>
                <ion-row class="message-input-box">
                    <ion-col size="10" no-padding>
                        <ion-input #inMsg placeholder="Type a Message" [(ngModel)]="cmt"></ion-input>
                    </ion-col>
                    <ion-col size="2" no-padding>
                        <ion-button class="btn-send" (click)="addComment();" [disabled]="cmt === ''">
                            <ion-img class="input-icon" src="../../../../../assets/images/send.png"></ion-img>
                        </ion-button>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </div>
    </ion-list>
</ion-content>