<ion-header>
    <ion-toolbar>
        <ion-grid no-padding>
            <ion-row class="header-box">
                <ion-col size="1" class="menu_bar" (click)="backPage()">
                    <ion-img src="../../../assets/images/back.png"></ion-img>
                </ion-col>
                <ion-col class="page_title" size="8">{{cat}}</ion-col>

                <ion-col size="1" class="header-icon" (click)="prodList()">
                    <ion-img src="../../../assets/images/box.png"></ion-img>
                </ion-col>
                <!-- <ion-col size="1" class="header-icon">
                    <ion-img src="../../../assets/images/home.png"></ion-img>
                </ion-col>
                <ion-col size="1" class="header-icon">
                    <ion-img src="../../../assets/images/Cart.png"></ion-img> -->
                <!-- </ion-col> -->
                <ion-col size="1" class="header-icon" (click)="brandList()">
                    <ion-img src="../../../assets/images/home.png"></ion-img>
                </ion-col>
                <ion-col size="1" class="header-icon" (click)="myList()">
                    <ion-img src="../../../assets/images/Cart.png"></ion-img>
                    <ion-badge *ngIf="this.commonService.getQty()>0" color="danger">{{this.commonService.getQty()}}</ion-badge>
                </ion-col>
            </ion-row>
            <ion-row class="serach_block">
                <ion-col class="search_box">
                    <ion-input type="text" [(ngModel)]="inputValue" (ionInput)="setFilteredItems($event)" class=" input_serch ">
                        <ion-icon class="serch_icon " name="search "></ion-icon>
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid no-padding class="prod_section ">
        <ion-row class="prod_block ">
            <ion-col class="prod_box " *ngFor="let prod of productList; let i=i ndex " size="4 " (click)="productDetails(prod) ">
                <div class="prod_pro_box ">
                    <ion-img class="prod_img " [src]="prod.Imageurl "></ion-img>
                    <ion-label class="prod-title "> {{prod.Productname}}</ion-label>
                    <ion-label class="prod-sub-title ">{{prod.productweight}} {{prod.uomname}}</ion-label>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>