:host {
    ion-content {
        --background: #f4f8f9 !important;
        position: relative;
        //  padding-bottom: 50px;
    }
    .compare-img-icon {
        width: 30px !important
    }
    .compare-img {
        width: 25px !important;
        margin: 0 auto;
        display: block;
        margin-top: 5px;
    }
    .ion-grid-pl {
        overflow-x: scroll;
        display: table;
        width: 100%;
    }
    .ion-row-pl {
        display: table;
        width: 100%;
        // display: table;
        //        white-space: nowrap;
    }
    .btn-blue {
        width: 100%;
        text-align: center;
        height: 50px;
        border-radius: 15px 15px 0px 0px !important;
        overflow: hidden;
        font-family: "Montserrat-Regular";
        font-size: 20px;
        letter-spacing: 0px;
        color: #fff;
        margin: 0px;
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 111;
    }
    .table_block {
        padding-bottom: 50px;
    }
    .ion-color-primary {
        width: 22px !important;
        height: 22px !important;
        --border-color: #d4d4d4 !important;
        display: block;
        margin-left: 10px;
    }
    ion-img.products_img {
        width: 60px;
    }
    .prod_box .prod_pro_box {
        // border-bottom: 1px solid #989898;
        // border-right: 1px solid #989898;
        padding: 14px!important;
        border: 1px solid #989898;
        border-radius: 10px !important;
        background: #fff;
        width: 96%;
        height: 100%;
        display: block;
        margin: 2% !important;
    }
    .prod-title {
        font-family: "MyriadPro-Bold";
        color: #000 !important;
        font-size: 14px;
        display: block;
        margin-top: 10px;
        text-align: center;
    }
    .prod-sub-title {
        font-family: "MyriadPro-Regular";
        color: #A9A9A9 !important;
        font-size: 14px;
        display: block;
        margin-top: 5px;
        text-align: center;
    }
    .prod_img {
        width: 30px !important;
        height: 35px !important;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
}