<ion-header>
    <ion-toolbar>
        <ion-grid no-padding>
            <ion-row class="header-box">
                <ion-col size="1" class="menu_bar" (click)="backPage()">
                    <ion-img src="../../../assets/images/back.png"></ion-img>
                </ion-col>
                <ion-col class="page_title" size="10">{{prodName}}</ion-col>
                <ion-col size="1" class="header-icon" (click)="myList()">
                    <ion-img src="../../../assets/images/Cart.png"></ion-img>
                    <ion-badge *ngIf="this.commonService.getQty()>0" color="danger">{{this.commonService.getQty()}}</ion-badge>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content class="content-block">

    <ion-grid no-padding class="content-box">
        <ion-row no-padding>
            <ion-col no-padding>
                <ion-slides class="slider_box" [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
                    <ion-slide *ngFor="let imgs of prod.ProductImage">
                        <img [src]="imgs.ProductImageURL">
                    </ion-slide>
                </ion-slides>
                <ion-img *ngIf="prod.ProductImage.length > 1 " src="../../../../assets/images/right.png" float-left ion-button color="primary" class="btnPrev" (click)="prev()"></ion-img>
                <ion-img *ngIf="prod.ProductImage.length > 1 " src="../../../../assets/images/left.png" float-right ion-button color="primary" class="btnNext" (click)="next()"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-col no-padding>
                <ion-label class="prod-title"> {{prod.Productname}}</ion-label>
                <ion-label class="prod-sub-title">{{prod.productweight}} {{prod.uomname}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row no-padding>

            <ion-col size="6" no-padding>

                <ion-grid no-padding>
                    <ion-row class="table_quantity-button-box">
                        <ion-col size="4" class=" table_quantity">
                            <ion-label>
                                <ion-button class="ion-button" (click)="inc(prod,'-')">-</ion-button>
                            </ion-label>
                        </ion-col>
                        <ion-col size="4" class=" table_quantity">
                            <ion-label class="quantity_value">{{prod.Quantity}}</ion-label>
                        </ion-col>
                        <ion-col size="4" class=" table_quantity">
                            <ion-label>
                                <ion-button class="ion-button" (click)="inc(prod,'+')">+</ion-button>
                            </ion-label>
                        </ion-col>

                    </ion-row>
                </ion-grid>

            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-button *ngIf="typePage" class="btn btn-blue" (click)="addProduct()">ADD TO MY LIST</ion-button>
            </ion-col>
        </ion-row>
        <!-- <ion-row no-padding>
            <ion-col no-padding>
                <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" class="nav">
                    <ion-segment-button value="0" class="nav-item">
                        Price Description
                    </ion-segment-button>
                    <ion-segment-button value="1" class="nav-item">
                        Nutritions Facts
                    </ion-segment-button>
                    <ion-segment-button value="2" class="nav-item">
                        Nutritions Facts
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="tab_block">
            <ion-col no-padding size="12">
                <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true" no-padding>
                    <ion-slide>
                        <div class="tabing-content">
                            <ion-label class="content">
                                {{this.prod.ProductDesc}} {{this.prod.ProductDescUrl}}
                            </ion-label>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="tabing-content">
                            <ion-label class="content">
                                {{this.prod.ProductNutritionFact}}
                            </ion-label>
                            <ion-img class="tabing-img" src="{{this.prod.ProductNutritionFactURL}}"></ion-img>
                        </div>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
        <ion-row class="prod-store-list">
            <ion-col *ngFor="let store of prod.Store" size="3">
                <div class="lowest_price_box">
                    <ion-label>{{store.currentprice=='999999.99'?'-':'£ '+(store.currentprice*prod.qt)}}</ion-label>
                    <ion-img class="compare-img-icon" [src]="store.StoreLogo"></ion-img>
                </div>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-col class="comment" no-padding>
                <ion-list>
                    <ion-list-header>
                        <ion-label>Comments</ion-label>
                    </ion-list-header>
                    <div class="comment-list-box">
                        <ion-item *ngFor="let cmt of commentList">
                            <ion-grid no-padding>
                                <ion-row no-padding>
                                    <ion-col no-padding>
                                        <ion-label>{{cmt.UserID}}</ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row no-padding>
                                    <ion-col no-padding>
                                        <ion-label>{{cmt.Comment}}</ion-label>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-item>
                    </div>
                </ion-list>
            </ion-col>
        </ion-row>
        <form [formGroup]="addCommentForm" (ngSubmit)="onSubmit(addCommentForm.value)">
            <ion-row style="background: #e2e2e2;">
                <ion-col class="comment" size="9">
                    <ion-input placeholder="Comment type here" type="text" formControlName="comment"></ion-input>
                </ion-col>
                <ion-col class="comment" size="3">
                    <ion-button type="submit" [disabled]="!addCommentForm?.valid">Add</ion-button>
                </ion-col>
            </ion-row>
        </form> -->

    </ion-grid>

    <ion-tabs tabbarPlacement="top" primary class="withNavbar">
        <ion-tab-bar slot="top">
            <ion-tab-button tab="PriceComparison">
                <ion-label>Price Comparison</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="ProductDescription">
                <ion-label>Product Description</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="NutritionsFacts">
                <ion-label>Nutritions Facts</ion-label>
            </ion-tab-button>

            <!-- <ion-tab-button tab="Comments">
                <ion-label>Comments</ion-label>
            </ion-tab-button> -->
        </ion-tab-bar>
    </ion-tabs>
    <!-- <div class="button-fix-box">
        <ion-button *ngIf="typePage" class="btn btn-blue" (click)="addProduct()">ADD TO MY LIST</ion-button>
    </div> -->

</ion-content>