:host {
    ion-content {
        --background: transparent;
        position: relative;
    }
    ion-img {
        width: 30px !important;
        margin-left: 15px;
        margin-right: 10px;
    }
    ion-label {
        margin: 10px !important;
    }
    .store-list-container {
        border-radius: 10px 10px 0 0 !important;
        box-shadow: 0px 0px 4px 0px #ccc;
        overflow: hidden;
        width: 100%;
        background-color: #fff;
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 80vh;
        overflow-y: scroll;
        padding-bottom: 42px;
    }
    .fix_btn {
        position: fixed;
        bottom: 0px;
        width: 100%;
        display: block;
        z-index: 111;
    }
    .store-list-container ion-row {
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .store-list-container ion-row ion-col {
        text-align: center;
    }
    .ion-color-primary {
        width: 22px !important;
        height: 22px !important;
        --border-color: #d4d4d4 !important;
        display: block;
        margin-left: 10px;
    }
}