<ion-content (click)="dismissModal()" scrollX="false" scrollY="false">
    <ion-grid class="store-list-container" no-padding>
        <ion-row no-padding>
            <ion-col no-padding>
                <ion-list no-padding>
                    <ion-item class="list-item" *ngFor="let cat of category let i=index" no-padding>
                        <ion-img [src]="cat.CategoryLogo"></ion-img>
                        <ion-label>{{cat.CategoryName}}</ion-label>
                        <ion-checkbox slot="end" color="primary" [checked]="cat.IsSelected" (ionChange)="changeChacked($event,i)"></ion-checkbox>
                    </ion-item>
                </ion-list>

            </ion-col>
        </ion-row>
        <div class="fix_btn">
            <ion-button class="btn btn-blue" (click)="close()">Apply Filter</ion-button>
        </div>
    </ion-grid>

</ion-content>