:host {
    ion-content {
        --background: #fff !important;
    }
    ion-img {
        width: 30px !important;
    }
    ion-row {
        justify-content: center;
    }
    ion-list {
        background: #00000000 !important;
        margin: 0px !important;
        padding: 0px !important;
    }
}