<ion-content class="content-block">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label> {{this.prod.ProductNutritionFact}}</ion-label>
                <!-- <ion-img class="tabing-img" src="../../../../../assets/images/7up.png"></ion-img> -->
                <ion-img class="tabing-img" src="{{this.prod.ProductNutritionFactURL}}"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-list-header>
            <ion-label>Comments</ion-label>
        </ion-list-header>
        <div class="comment-list-box">
            <ion-item lines="none" *ngFor="let cmt of commentList">
                <ion-grid class="cmt-bottom-line">
                    <ion-row>
                        <ion-col size="9">
                            <ion-label class="cmt-title">{{cmt.UserName}}</ion-label>
                        </ion-col>
                        <ion-col size="3">
                            <ion-label class="time">{{ cmt.CommentDate | date:'shortTime' }}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="cmt-msg">
                            <ion-label>{{cmt.Comment}}</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>


            <ion-row class="message-input-box">
                <ion-col size="10" no-padding>
                    <ion-input #inMsg placeholder="Type a Message" [(ngModel)]="cmt"></ion-input>
                </ion-col>
                <ion-col size="2" no-padding>
                    <ion-button class="btn-send" (click)="addComment();" [disabled]="cmt === ''">
                        <ion-img class="input-icon" src="../../../../../assets/images/send.png"></ion-img>
                    </ion-button>
                </ion-col>

            </ion-row>
        </div>
    </ion-list>

</ion-content>