:host {
    ion-content {
        --background: #fff !important;
    }
    // ion-img {
    //     width: 30px !important;
    // }
    ion-row {
        // justify-content: center;
    }
    ion-list {
        background: #00000000 !important;
        margin: 0px !important;
        padding: 0px !important;
    }
    .store-title {
        font-family: 'Montserrat-Regular';
        color: #000;
        font-size: 15px;
    }
    .store-address {
        font-family: 'Montserrat-Light';
        color: #000;
        font-size: 14px;
        margin-top: 5px;
        display: block;
    }
    .store-time-header {
        font-family: "Montserrat-Regular";
        color: #000;
        font-size: 15px;
        margin-top: 4px;
        display: block;
    }
    .icons {
        position: relative;
    }
    .icons ion-img {
        position: absolute;
        top: -15px;
        right: 0px;
    }
    .lowest_price_box {
        border: 1px solid #bcbcbc;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 8px;
        padding: 10px;
    }
    .lowest_price_box ion-label {
        font-family: 'Montserrat-Regular';
        font-size: 14px;
        color: #000;
    }
    .compare-img-icon {
        width: 100px !important;
        display: block;
        margin: 0 auto;
        margin-top: 6px;
        height: 30px !important;
        margin-right: 16px !important;
    }
    .compare-img {
        width: 25px !important;
        margin: 0 auto;
        display: block;
        margin-top: 5px;
    }
    .compare-img-res {
        width: 55% !important;
        min-height: 32px;
    }
    .prod-store-list {
        justify-content: left !important;
    }
    .prod-des {
        height: 120px !important;
    }
    .title {
        width: 100%;
        display: block;
        color: #363636;
        font-family: 'Montserrat-Light';
        font-size: 13px;
        margin: 0px !important;
        padding: 0px !important;
    }
    .title.variant {
        width: 100%;
        display: block;
        color: #538be3;
        font-family: 'Montserrat-Light';
        font-size: 13px;
        margin: 0px !important;
        padding: 0px !important;
    }
    .content {
        color: #030303 !important;
        font-size: 18px !important;
        font-family: "Montserrat-Bold" !important;
        margin-bottom: 2px;
        display: block;
    }
    .content.variant {
        color: #538be3 !important;
        font-size: 18px !important;
        font-family: "Montserrat-Bold" !important;
        margin-bottom: 2px;
        display: block;
    }
    .pc-list {
        background: #00000000 !important;
        margin: 5px !important;
        padding: 0px !important;
        border: 1px solid #e6e6e9 !important;
    }
    .item-inner {
        border-bottom: 1px solid #d5d7d6 !important;
    }
    .price-value {
        color: #646464;
        font-weight: bold;
        font-size: 15px;
    }
    .old-price-value {
        color: #646464;
        position: relative;
        text-decoration: line-through;
        font-weight: bold;
        font-size: 15px;
        margin-right: 10px;
    }
}