<ion-content>
    <ion-list class="pc-list">
        <ion-item no-padding *ngFor="let store of prod.Store">
            <ion-img class="compare-img-icon" [src]="store.StoreLogo"></ion-img>
            <!-- <span class="old-price-value">£ 123</span> -->
            <!-- <ion-label class="price-value">{{store.currentprice=='999999.99'?'-':'£ '+(store.currentprice*prod.Quantity)}}</ion-label> -->
            <!-- <ion-label class="price-value">{{store.currentprice=='999999.99'?'-':'£ '+((store.currentprice.substr(0, store.currentprice.indexOf('.') + 3))*prod.Quantity)}}</ion-label> -->
            <ion-label class="price-value">{{store.currentprice=='999999.99'?'-':'£ '+ this.convertVal(store.currentprice*prod.Quantity)}}</ion-label>

        </ion-item>
    </ion-list>
    <ion-grid style="padding: 10px !important;">
        <ion-row>
            <ion-col size="4">
                <ion-img class="compare-img-res" [src]="this.highStoreImage"></ion-img>
                <ion-label class="content"> {{this.highStoreValue}} </ion-label>
                <ion-label class="title"> Highest Price</ion-label>
            </ion-col>
            <ion-col size="4">
                <ion-img class="compare-img-res" [src]="this.lowStoreImage"></ion-img>
                <ion-label class="content"> {{this.lowStoreValue}} </ion-label>
                <ion-label class="title "> Lowest Price</ion-label>
            </ion-col>
            <ion-col size="4" class="today-saving">
                <ion-img class="compare-img-res" src=""></ion-img>
                <ion-label class="content variant"> {{this.varienseStore}} </ion-label>
                <ion-label class="title variant">Variance</ion-label>
            </ion-col>
        </ion-row>

    </ion-grid>
    <ion-list>
        <ion-list-header>
            <ion-label>Comments</ion-label>
        </ion-list-header>
        <div class="comment-list-box">
            <ion-item lines="none" no-lines *ngFor="let cmt of commentList">
                <ion-grid class="cmt-bottom-line">
                    <ion-row>
                        <ion-col size="9" no-padding>
                            <ion-label class="cmt-title">{{cmt.UserName}}</ion-label>
                        </ion-col>
                        <ion-col size="3" no-padding>
                            <ion-label class="time">{{ cmt.CommentDate | date:'shortTime' }}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="cmt-msg" no-padding>
                            <ion-label>{{cmt.Comment}}</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </div>
        <ion-row class="message-input-box">
            <ion-col size="10" no-padding>
                <ion-input #inMsg placeholder="Type a Message" [(ngModel)]="cmt"></ion-input>
            </ion-col>
            <ion-col size="2" no-padding>
                <ion-button class="btn-send" (click)="addComment();" [disabled]="cmt === ''">
                    <ion-img class="input-icon" src="../../../../../assets/images/send.png"></ion-img>
                </ion-button>
            </ion-col>

        </ion-row>
    </ion-list>
</ion-content>