<ion-menu side="start" menuId="first">
    <ion-header>
        <ion-item>
            <ion-grid>
                <ion-row class="user-info-block">
                    <ion-col class="user-img">
                        <img class="user_img" src="../../../assets/images/User.png" error="../../../assets/images/User.png" />
                        <!-- <img class="user_img" *ngIf="!this.user.user.UserPic" src="../../assets/images/man.png" /> -->
                    </ion-col>
                    <ion-col class="user-info">
                        <ion-label class="menu-header-title">{{user.Fname}} {{user.LName}}</ion-label>
                        <ion-label class="menu-header ">{{user.MobileNo}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-header>
    <ion-content class="list-ion-content" no-paddings>
        <ion-list no-padding class="list-block">
            <ion-item class="list-item" (click)="category()">
                <ion-img class="menu-img" src="../../../assets/images/Category.png"></ion-img>
                <ion-label class="lbl-style">Category List</ion-label>
            </ion-item>
            <ion-item class="list-item" (click)="storeList()">
                <ion-img class="menu-img" src="../../../assets/images/Store_list.png"></ion-img>
                <ion-label class="lbl-style">My Stores</ion-label>
            </ion-item>
            <!-- <ion-item class="list-item" (click)="myPreferredStore()">
                <ion-img class="menu-img" class="menu-img" src="../../../assets/images/My_preferrence.png"></ion-img>
                <ion-label class="lbl-style">My Preferred Store</ion-label>
            </ion-item> -->
            <ion-item class="list-item" (click)="changePassword()">
                <ion-img class="menu-img" class="menu-img" src="../../../assets/images/My_preferrence.png"></ion-img>
                <ion-label class="lbl-style">Change Password</ion-label>
            </ion-item>
            <ion-item class="list-item" (click)="logout()">
                <ion-img class="menu-img" src="../../../assets/images/Logout.png"></ion-img>
                <ion-label class="lbl-style">Logout</ion-label>
            </ion-item>

        </ion-list>
    </ion-content>

</ion-menu>

<ion-router-outlet main>

    <ion-header>
        <ion-toolbar>
            <ion-grid no-padding>
                <ion-row class="header-box">
                    <ion-col size="1" class="menu_bar" (click)="openFirst()">
                        <ion-img src="../../../assets/images/Menu.png"></ion-img>
                    </ion-col>
                    <ion-col size="8" class="page_title">DASHBOARD</ion-col>
                    <ion-col size="1" class="header-icon" (click)="goToCateroy()">
                        <ion-img src="../../../assets/images/box.png"></ion-img>
                    </ion-col>
                    <ion-col size="1" class="header-icon" (click)="brandList('head')">
                        <ion-img src="../../../assets/images/home.png"></ion-img>
                    </ion-col>
                    <ion-col size="1" class="header-icon" (click)="myList()">
                        <ion-img src="../../../assets/images/Cart.png"></ion-img>
                        <ion-badge *ngIf="this.commonService.getQty()>0" color="danger">{{this.commonService.getQty()}}</ion-badge>
                    </ion-col>
                </ion-row>
                <!-- <ion-row class="serach_block">
                    <ion-col class="search_box">
                        <ion-input class="input_serch">
                            <ion-icon class="serch_icon" name="search"></ion-icon>
                        </ion-input>
                    </ion-col>
                </ion-row> -->
            </ion-grid>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <!-- <ion-grid class="cat_section" *ngIf="!isSub">
            <ion-row class="cat_block">
                <ion-col class="cat_box" *ngFor="let cat of Category; let i = index" size="4" (click)="categoryClick(cat)">
                    <div class="cat_pro_box">
                        <ion-img class="cat_img" [src]="cat.CategoryLogo"></ion-img>
                        <ion-label class="category-title"> {{cat.CategoryName}}</ion-label>
                    </div>
                </ion-col>
                <ion-col class="cat_box" size="4" (click)="clickAll('All')">
                    <div class="cat_pro_box">
                        <ion-img class="cat_img" src="../../../assets/images/Category.png"></ion-img>
                        <ion-label class="category-title"> All</ion-label>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="isSub" class="cat_section">
            <ion-row class="cat_block">

                <ion-col class="cat_box" *ngFor="let cat of Subcategory; let i = index" size="4" (click)="categoryClick(cat)">
                    <div class="cat_pro_box">
                        <ion-img class="cat_img" [src]="cat.CategoryLogo"></ion-img>
                        <ion-label class="category-title"> {{cat.CategoryName}}</ion-label>
                    </div>
                </ion-col>
                <ion-col class="cat_box" size="4" (click)="back()">
                    <div class="cat_pro_box">
                        <ion-img class="cat_img" src="../../../assets/images/backb.png"></ion-img>
                        <ion-label class="category-title"> Back</ion-label>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid class="brans-view">
            <ion-row class="brans-row">
                <ion-col>
                    <ion-label class="brands-title"> All Brands Store</ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="brans-row">
                <ion-col class="brands-cols" *ngFor="let st of Store; let i = index">
                    <ion-img class="brands-img" (click)="storeClick(st)" [src]="st.StoreLogo"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid> -->
        <ion-grid no-padding>
            <ion-row no-padding>
                <ion-col no-padding>
                    <ion-img src="../../../assets/images/top-banner.png"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col no-padding>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col no-padding>
                                <ion-img src="../../../assets/images/sec-big-top.png"></ion-img>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col no-padding>
                                <ion-img src="../../../assets/images/go-to-cat.png" (click)="goToCateroy()"></ion-img>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
                <ion-col no-padding>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col no-padding>
                                <ion-img src="../../../assets/images/sec-mid-1.png"></ion-img>
                            </ion-col>
                        </ion-row>
                        <ion-row no-padding>
                            <ion-col no-padding>
                                <ion-img src="../../../assets/images/sec-mid-2.png"></ion-img>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col no-padding>
                    <ion-img src="../../../assets/images/store-1.png"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col no-padding>
                    <ion-img src="../../../assets/images/store-2.png"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col no-padding>
                    <ion-img src="../../../assets/images/store-3.png"></ion-img>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-content>
</ion-router-outlet>