<ion-content class="page-bg">
    <ion-grid class="top-img-logo">
        <ion-row>
            <ion-col class="text-left">
                <ion-img class="logo" src="../../../assets/images/logo.png"></ion-img>
            </ion-col>
        </ion-row>

    </ion-grid>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="form">

        <ion-grid class="margin-15">
            <ion-row class="login-content">
                <ion-col class="text-left">
                    <ion-label class="title">Welcome Back</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="text-left">
                    <ion-label class="content">Sign in to continue</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Email Id</ion-label>
                        <ion-input type="text" formControlName="emailid"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" formControlName="pwd"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="text-right">
                    <ion-label class="link-content text-right" (click)="goToForgotPassword()">Forgot Password?</ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="container mb-10">
                <ion-col>
                    <ion-button class="btn btn-white" type="submit" [disabled]="!loginForm?.valid">
                        LogIn
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row class="text-center" style="margin-top: 20px;">
                <ion-col>
                    <ion-label class="link-content"> Don't Have an Account?</ion-label>
                    <ion-label style="color: #fff; font-family: 'Montserrat-Medium'; font-size: 15px; text-decoration: underline; margin-left: 5px;" (click)="goToRegister()"> Sign UP</ion-label>
                </ion-col>
            </ion-row>
            <!-- <ion-row class="text-center">
                <ion-col>
                    <ion-label style="color: #fff; display: block; margin: 15px 0px; font-family: 'Montserrat-Medium'; font-size: 15px; text-decoration: underline; margin-left: 5px;" (click)="goToDashboard()"> SKIP</ion-label>
                </ion-col>
            </ion-row> -->
        </ion-grid>
    </form>
</ion-content>