<ion-header>
    <ion-toolbar>
        <ion-grid no-padding>
            <ion-row class="header-box">
                <ion-col size="1" class="menu_bar" (click)="backPage()">
                    <ion-img src="../../../assets/images/back.png"></ion-img>
                </ion-col>
                <ion-col class="page_title" size="10">My List</ion-col>
                <ion-col size="1" class="header-icon" (click)="brandList()">
                    <ion-img src="../../../assets/images/home.png"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="table-responsive">
        <div class="divTable" style="width: 100%;border: 1px solid  #bcbcbc; ">
            <div class="divTableHeading ">
                <div class="divTableRow">
                    <div class="divTableCell">
                        <ion-label class="table_title">Product List</ion-label>
                    </div>
                    <div class="divTableCell">
                        <ion-label class="table-content">Lowest price</ion-label>
                    </div>
                    <div class="divTableCell" *ngFor="let st of headerStore">
                        <ion-label class="table-content">{{st.StoreName}}</ion-label>
                    </div>
                </div>
            </div>
            <div class="divTableBody">
                <div class="divTableRow" *ngFor="let product of productList let i = index">
                    <div class="divTableCell no_padding">
                        <div class="divTable">
                            <div class="divTableRow">
                                <div class="divTableCell sub_cols">
                                    <ion-img class="delete-img" src="../../../assets/images/Delete.png" (click)="removeProduct(product,i)"></ion-img>
                                </div>
                                <div class="divTableCell sub_cols">
                                    <div class="divTable sub_table">
                                        <div class="divTableRow">
                                            <div class="divTableCell sub_cols padding-box" (click)="productDetails(product)">
                                                <ion-img class="products_img" src="{{product.Imageurl}}"></ion-img>
                                            </div>
                                            <div class="divTableCell sub_cols padding-box" (click)="productDetails(product)">
                                                <ion-label class="table-content"> {{product.Productname}} </ion-label>
                                                <ion-label class="table-sub-content">{{product.productweight}} {{product.uomname}}</ion-label>
                                            </div>
                                            <div class="divTableCell table_quantity">
                                                <ion-label>
                                                    <ion-button class="ion-button" (click)="inc(product,'+',i)">+</ion-button>
                                                </ion-label>
                                                <ion-label class="quantity_value">{{product.Quantity}}</ion-label>
                                                <ion-label>
                                                    <ion-button class="ion-button" (click)="inc(product,'-',i)">-</ion-button>
                                                </ion-label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="divTableCell">
                        <ion-label class="table-content">{{product.Store[0].currentprice =='999999.99'?'-':'£ '+(product.Store[0].currentprice * product.qt)}}</ion-label>
                        <ion-img class="compare-img" [src]="product.Store[0].StoreLogo"></ion-img>
                    </div> -->
                    <div class="divTableCell">
                        <ion-label class="table-content">{{product.low=='999999.99'?'-':'£ '+(this.convertVal(product.low * product.Quantity))}}</ion-label>
                        <ion-img class="compare-img" *ngIf="product.isStore" src="{{product.lowimg}}"></ion-img>
                    </div>

                    <div class="divTableCell" *ngFor="let store of product.Store">
                        <ion-label class="table-content">{{store.currentprice=='999999.99'?'-':'£ '+(this.convertVal(store.currentprice*product.Quantity))}}</ion-label>
                        <ion-label class="table-content date">{{store.LastUpdatedDate}}</ion-label>
                    </div>

                </div>

                <div class="divTableRow total">
                    <div class="divTableCell no_padding">
                        <ion-label class="table-content">Total</ion-label>
                    </div>
                    <!-- <div class="divTableCell">
                        <ion-label class="table-content">{{product.Store[0].currentprice =='999999.99'?'-':'£ '+(product.Store[0].currentprice * product.qt)}}</ion-label>
                        <ion-img class="compare-img" [src]="product.Store[0].StoreLogo"></ion-img>
                    </div> -->
                    <div class="divTableCell">
                        <ion-label class="table-content"> £{{this.convertVal(this.sumLowest)}} </ion-label>
                    </div>

                    <div class="divTableCell" *ngFor="let st of headerStore">
                        <div class="compare_img_block">
                            <ion-img class="compare-img" [src]="st.StoreLogo"></ion-img>
                        </div>
                        <ion-label class="table-content">£{{this.convertVal(st.sumData)}}</ion-label>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <ion-grid class="lowest_price_block">
        <ion-row>
            <ion-col size="12">
                <div class="button-box">
                    <ion-label>Total Lowest Price : <span class="green"> £{{this.convertVal(this.sumLowest)}}</span></ion-label>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <div class="button-box">
                    <ion-label>Total Highest Price : <span class="red"> £{{this.convertVal(this.sumHeigst)}}</span></ion-label>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <div class="button-box">
                    <ion-label>Your Savings : <span class="green"> £{{this.convertVal(this.saving)}}</span></ion-label>
                </div>
            </ion-col>
        </ion-row>
        <!--     <ion-row>
            <ion-col *ngFor="let store of headerStore" size="4">
                <div class="lowest_price_box">
                    <ion-label>£{{store.sumData}}</ion-label>
                    <ion-img class="compare-img-icon" [src]="store.StoreLogo"></ion-img>
                </div>
            </ion-col>
        </ion-row> -->
    </ion-grid>

    <div class="slider_box">
        <ion-img src="../../../assets/images/Banner.png"></ion-img>
    </div>
</ion-content>