:host {
    .compare-img-icon {
        width: auto !important;
        display: block;
        margin: 0 auto;
        margin-top: 6px;
        height: 28px !important
    }
    .compare-img {
        width: 50px!important;
        margin: 5px auto 0;
        display: block;
    }
    .compare_img_block {
        width: 100%;
        height: 50px;
        position: relative;
    }
    .compare_img_block .compare-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px!important;
    }
    .delete-img {
        width: 25px !important;
        margin: 0 auto;
        margin-left: 5px !important;
    }
    ion-content {
        --background: #f4f8f9 !important;
        position: relative;
        padding-bottom: 100px;
    }
    ion-row {
        justify-content: center;
    }
    .ion-color-primary {
        width: 22px !important;
        height: 22px !important;
        --border-color: #d4d4d4 !important;
        display: block;
        margin-left: 10px;
    }
    .lowest_price_block {
        width: 80%;
        display: block;
        margin: 15px auto;
        margin-bottom: 70px;
    }
    .button-box {
        width: 100%;
        background-color: #fff;
        padding: 10px;
        text-align: right !important;
        border: 1px solid #bcbcbc;
        border-radius: 10px;
    }
    .button-box ion-label {
        color: #000;
        font-family: 'Montserrat-Bold';
        font-size: 15px;
    }
    .lowest_price_box {
        border: 1px solid #bcbcbc;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 8px;
        padding: 10px;
    }
    .lowest_price_box ion-label {
        font-family: 'Montserrat-Regular';
        font-size: 14px;
        color: #000;
    }
    .slider_box {
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0px;
        z-index: 111;
    }
}

.button-box span {
    text-align: right !important;
    display: inline-block !important;
    margin-left: 15px !important;
}

ion-img.products_img {
    width: 60px;
}